div.flickr_item {
    width: 100%;    
}

.flickr_item img {
    width: 100%;    
}

div.flickr_title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    background: black;
    opacity: 0.5;
    padding: 10px;
    text-align: center;
}