<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://droptiles.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-am2-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>droptiles</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$droptiles</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AspNetDbConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:frz83rqmzu.database.windows.net,1433;Initial Catalog=AspnetDb;Integrated Security=False;User ID=droptilesuser@frz83rqmzu;Password=Droptiles1981;Connect Timeout=30;Encrypt=True" Name="Server=tcp:frz83rqmzu.database.windows.net,1433;Database=AspnetDb;User ID=droptilesuser@frz83rqmzu;Password=Droptiles1981;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True;User Instance=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AspNetDbConnectionString_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True;User Instance=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AspNetDbConnectionString-Web.config Connection String">
      <ParameterValue>Server=tcp:frz83rqmzu.database.windows.net,1433;Database=AspnetDb;User ID=droptilesuser@frz83rqmzu;Password=Droptiles1981;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>